*{
    margin: auto 0;
    padding: 0;
    
}


a {
    list-style-type: none;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 10px;
    color: white;
    font-size: 47px;
    text-align: center;
    width: 45%;
}

i {
    font-size: 5rem;
}


.boxPai{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 8%;
}

.col-md-5.logo {
    display: flex;
    justify-content: center;
    padding-left: 7%;
}

img {
    width: 99%;
}

i.botao {
    font-size: 5rem;
    color: white;
}

i.bi.bi-list.menu {
    font-size: 2rem;
}

span {
    color: white;
    font-size: 28px;
}

body{
    background: rgba(204, 56, 56, 1);
}

.alinhar {
    margin-top: 5%;
}


