body{
    background: rgba(204, 56, 56, 1);
}

.quadradoPai {
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #ffffff;
    padding: 26px;
    display: flex;
    flex-direction: column;
    font-size: 57px;
    color: #000000;
    border-radius: 40px;
    gap: 25px;

}

input[type="text"] {
    font-size: 28px;
    padding: 28px;
    border-radius: 32px;
}

button.enviar {
    padding: 13px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 37px;
}

a {
    list-style-type: none;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 10px;
    color: white;
    font-size: 47px;
    text-align: center;
    width: 45%;
}